langchain
langchain-core
langchain-community
langchain-experimental
langchain-chroma
langchain-text-splitters

langchain-google-genai
google-generativeai

langchain-huggingfacece
huggingface-hub

transformers<4.46.0

pydantic

python-dotenv
PyPDF
beautifulsoup4

chromadb